$font-family: 'Nunito', sans-serif;
$fw-normal: 400;
$fs-header: 40px;
$lh-header: 40px;
$fs-paragraph: 16px;
$lh-paragraph: 26px;

$white: #fff;
$black: #000;

$yellow: #F4E041;
$blue: #00BDD3;
$line-gray: #F8F8F8;

$bg-color: #E5E5E5;

$btn-color: #F4E041;
$btn-color_hover: #FFE302;
$btn-color_disabled: #B4B4B4;

$input-placeholder-color: #7E7E7E;
$input-value-color: #000;
$border-color: #D0CFCF;

$error-color: #CB3D40;

$small-width: 360px;
$medium-width: 768px;
$large-width: 1024px;